# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/

# mypy
.mypy_cache/